<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Выше 3 Мета-теги ** должны прийти в первую очередь в голове; любой другой руководитель контент *после* эти теги -->

    <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>

<!-----------------header--------------------------------------------->
<div class="navbar navbar-fixed-top">
    <div class="container">



        <div class="navbar-header navbar-inverse">
            <a class="logo" href="index1.html">RU<i class="fa fa-circle" aria-hidden="true"></i>MG</a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="#">Главная</a></li>
                <li><a href="#">Блог </a></li>
                <li><a href="#">Фильтр</a></li>
                <li><a href="#">Добавить анкету</a></li>
                <li><a href="../login.php">Вход <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>


            </ul>

        </div>



    </div>

</div>

<!-----------------/header--------------------------------------------->

<!--Маяк-->
<div id="mayks">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="info">
                    <ul class="mayk_anketa">
                        <li><a href="#">Главная/</a></li>
                        <li><a href="#">массаж в Москве/</a></li>
                        <li><a href="#">частное объявление/</a></li>
                        <li><a href="#">Владимир</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Маяк-->




<!---------------------------main_anketa---------------------------------------------------->

<div class="container ">

    <div class="row">
    <div class="v_anketa">

        <div class="col-md-7 ">
            <div class="header_anketa ">
                <div class="info_anketa">

                    <div class="address">
                    <h3> Владимир</h3>

                    <br>
                    <p>Возраст:<i> 38 </i></p>

                    <br>
                    <p>город:<i> Москва</i></p>

                    <br>
                    <p>метро:<i> Кузьминки,</i> <i> Марьино,</i><i> Выхино</i> </p>

                    <br>
                    <p>Телефон:<b>+79032109896</b> </p>

                    <br>
                    <p>Образование :<i> медицинское</i></p>

                    <br>
                    <p>Опыт работы:<i> 10</i></p>
                </div>







                </div>
            </div>

            <div class="about_my">
                <p> О себе:</p>
                <p> Мануальный терапевт, лечение больного позвоночника, костоправ, массажист высшей категории, медицинский специалист широкого профиля.
                    Опыт работы 35 лет, работал за рубежом - (Эмираты, Индия, Китай, Европа, США)
                    Дополнительные услуги

                    Лечение больного позвоночника
                </p>
            </div>
            <div> <h3>Цена на услуги</h3></div>
            <div class="pris_anketa">

                <div class="chas">
                    <br>
                    <b>Прием у себя: <br> </b>

                    <ul>
                        <li>Час:<i> 2000 руб</i></li>
                        <li>Два<i> 4000 руб</i></li>
                    </ul>

                </div>

                <div class="dva">
                <br>
                <b>Выезд к Вам: <br> </b>

                <ul>
                    <li>Час:<i> 3000 руб</i></li>
                    <li>Два<i> 5000 руб</i></li>
                </ul>

            </div>










        </div>



        </div>







        <div class="col-md-5 " >
            <div class="header_anketa ">
                <div class="photos_fnketa">
                   <div class="photo_anketa"><img src="../img/3.jpg"></div>
                    <div class="photo_anketa"><img src="../img/3.jpg"></div>
                    <div class="photo_anketa"><img src="../img/3.jpg"></div>
                </div>


            </div>
        </div>



        <div class="clearfix"></div>




    </div>
    </div>

</div>





<!---------------------------/main---------------------------------------------------->

<!--**************************************-->
<!--***************FOOTER********************-->
<footer >

    <div class="container">
        <div class="row">
            <div class="col-md-12  ">
                <div class="footer ">


                    <div class="footer_nav ">

                        <p>Разделы сайта:</p>
                        <ul class="">
                            <li ><a href="#">Обратная связь</a></li>
                            <li><a href="#">Добавить анкету</a></li>
                            <li><a href="#">Регистрация </a></li>
                            <li><a href="#">Отзывы</a></li>
                            <li><a href="../login.php">Вход </a></li>
                        </ul>
                    </div>

                    <!------------------------------------------------------------------------------------------------->


                    <div class="footer_new ">
                        <p>Новые анкеты</p>

                        <div class="new " >

                            <figure class="new_bec">
                                <a href="index1.html"><img src="../img/4.jpg "></a>
                            </figure>

                            <figure class="new_bec">
                                <a href="index1.html"><img src="../img/4.jpg "></a>
                            </figure>

                            <figure class="new_bec">
                                <a href="index1.html"><img src="../img/4.jpg "></a>
                            </figure>

                            <figure class="new_bec">
                                <a href="index1.html"><img src="../img/4.jpg "></a>
                            </figure>

                            <figure class="new_bec">
                                <a href="index1.html"><img src="../img/4.jpg "></a>
                            </figure>

                            <figure class="new_bec">
                                <a href="index1.html"><img src="../img/4.jpg "></a>
                            </figure>


                        </div>


                    </div>


                    <!---------------------------------------------------------------------------------------------->





                    <div class="footer_сс ">

                        <p>Мы в социальных сетях:</p>

                        <ul class="cc">
                            <li><a href="https://www.facebook.com/"><img src="../img/socialIcon.png"></a></li>
                            <li><a href="https://vk.com/feed"><img src="../img/socialIcon2 (1).png"> </a></li>
                            <li><a href="https://my.mail.ru/"><img src="../img/socialIcon2 (2).png"></a></li>
                            <li><a href="https://ok.ru/"><img src="../img/socialIcon3.png"></a></li>

                        </ul>

                    </div>






                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright">
    <p>Бесплатное размещение объявлений:частных массажистов и массажных салонов. </p>
    <p> lux999@yandex.ru</p>
</div>

<!--**************************************-->
<!--***************/FOOTER********************-->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src=" https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/libs/bootstrap.min.js"></script>
</body>
</html>